@charset "utf-8";

@font-face {
    font-family: fonte1;
    src: url(Stars-Regular.ttf);
}

body{
    align-items: center;
    text-align: center;
    background-image: url(https://media4.giphy.com/media/TxVVB6PfWMjE4/200.webp?cid=790b7611pf8fp45cgrsulx87yos720wc958xnpo5gpt21n4f&ep=v1_gifs_search&rid=200.webp&ct=g);
    color: #cd82ff;
    margin-top: 15em;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: fonte1;
    font-size: 4em;
    color:  #cd82ff;
}

button{
    background-color:  #cd82ff;
    color: aliceblue;
    border-radius: 20px;
    margin-top: 2em;
}

input{
    background-color: #cd82ff;
color: aliceblue;
border-radius: 2em;
padding: 15px;
margin: 10px;
}

p{
   text-shadow: 1px 1px 1px #cd82ff;
   color: white;
}

    footer{
            text-shadow: 1px 1px 1px #cd82ff;
            color: white;
    }
